<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" 
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Slab">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='https://unpkg.com/panzoom@9.4.0/dist/panzoom.min.js'></script>
    
    <title>PSE Test</title>
</head>
    <style>

    </style>
<body>
    <h1 style = "text-align:center">Periodic Table of Elements</h1>
    <div id="pse_wrapper" style="width: 100%; height:700"> 
        {% for element in elements %}
            <div class = "element {{element['category']}}", 
            style = "grid-row: {{ element['ypos'] }}; grid-column: {{ element['xpos'] }}"> 
                <div class="{{element['phase']}}", style="text-align:left, ">
                    {{ element['symbol'] }}
                </div>
            </div>
        {% endfor %}
    </div>
</body>
<script src="{{ url_for('static',filename='scripts/pan_zoom.js') }}"></script>
</html>
